{% load static %}

<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </head> 
    <body>
        <!-- CONTACT US -->
        <div class="contact">
            <div class="contact_trapezoid">
                <div class="contact__content">
                    <h3>Want to see more? Find us on Social Media!</h3>
                    <div class="image__container">
                        <div class="image__right">
                            <a href="https://www.facebook.com/uvalphie/" target="_blank"><img class="fb_icon" src="{% static 'images/facebook.png' %}"></a>
                            <a href="https://www.instagram.com/uvalphie/?hl=en" target="_blank"><img src="{% static 'images/instagram.png' %}"></a>
                        </div>
                    </div>
                    <p>Created and Designed by Min Jea "Zero Dark Curvy" Kim</p> 
                </div>
            </div>
        </div>
    </body>
</html>