body{
	margin: 0;
	padding: 0;
}

.landingpage{
    -webkit-clip-path: polygon(25% 0, 100% 15%, 100% 100%, 0 85%, 0 0);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 85%, 0 0);
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('pictures/artpark.JPG');
    /* Set a specific height */
    height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.whoweare{
      position: relative;
      width: 100%;
      height: 500px;
      background: rgba(40, 40, 40, 1);
      color: #fff;
      display: flex;
    }

    .whoweare:after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: top left;
      transform: skewY(4deg);
    }

    .whoweare__description{
	width: 50%;
	height: 100%;
	background-color: blue;
    }


    .whoweare__pic{
	width: 50%;
	height: 100%;
	background-color: red;
    }	
